.panel.panel-default
  .panel-body
    %a{'data-toggle': 'collapse', href: "#collapse-attribute-#{attribute.id}", style: 'color: black;'}
      .row
        .col-xs-3
          %dl
            %dt Name
            %dd
              %strong= attribute.name
        .col-xs-3
          - unless attribute.description.blank?
            %dl
              %dt Description
              %dd= attribute.description
        .col-xs-3
          %dl
            %dt Type
            %dd
              - if attribute.resource_id
                %a{href: project_resource_path(@project, attribute.resource_id)}
                  %strong= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
              - else
                %strong= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
        .col-xs-2
          %dl
            %dt Nullable
            %dd= attribute.nullable
    .row.collapse{id: "collapse-attribute-#{attribute.id}"}
      - unless attribute.enum.blank?
        .col-xs-2
          %dl
            %dt Enum
            %dd= attribute.enum
      - unless attribute.scheme.blank?
        .col-xs-2
          %dl
            %dt Scheme
            %dd= attribute.scheme.name
      - unless attribute.minimum.blank?
        .col-xs-1
          %dl
            %dt Minimum
            %dd= attribute.minimum
      - unless attribute.maximum.blank?
        .col-xs-1
          %dl
            %dt Maximum
            %dd= attribute.maximum
      - if attribute.faker
        .col-xs-2
          %dl
            %dt Faker
            %dd= attribute.faker&.name
