.table-row.flexwrap
  .table-row
    .cell= attribute.name
    .cell= attribute.displayed_type
    .cell= attribute.nullable
    .cell
      - resource.resource_representations_with_color.each do |representation, color_class|
        - if representation.resource_attributes.include?(attribute)
          .selected.circle{class: color_class}
        - else
          .circle{class: color_class}
    .cell
      - if attribute.constraints?
        %a{ 'data-toggle': 'collapse', href: "#collapse-attribute-#{attribute.id}" }▾
  .contraints-row.collapse{id: "collapse-attribute-#{attribute.id}"}
    - unless attribute.enum.blank?
      .constraint-cell
        %dt Enum
        %dd= attribute.enum
    - unless attribute.scheme.blank?
      .constraint-cell
        %dt Scheme
        %dd= attribute.scheme.name
    - unless attribute.minimum.blank?
      .constraint-cell
        %dt Minimum
        %dd= attribute.minimum
    - unless attribute.maximum.blank?
      .constraint-cell
        %dt Maximum
        %dd= attribute.maximum
    - unless attribute.description.blank?
      .constraint-cell.description
        %dt Description
        %dd= attribute.description