= content_for :title, "Schemes"

%h1 Schemes

- if user.can_create? Scheme
  .flexcontainer.flexcontainer-justify-end
    = link_to 'New Scheme', new_scheme_path, class: "btn btn-primary btn-lg"


- if @schemes.any?
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Name
        %th Regexp
        %th
        %th
    %tbody
      - @schemes.each do |scheme|
        %tr
          %td= scheme.name
          %td= scheme.regexp
          %td= link_to 'Edit', edit_scheme_path(scheme) if user.can_edit? scheme
          %td= link_to 'Delete', scheme_path(scheme), method: :delete, data: { confirm: 'Are you sure?' } if user.can_delete? scheme