- content_for :page_scripts do
  = javascript_pack_tag("resource_instances/index.js")

= bootstrap_form_for(model_instance.persisted? ? model_instance : [model, model_instance]) do |f|
  .flexcontainer-justify-end
    = f.submit class: 'btn btn-primary'
  = f.text_field :name
  .flexcontainer.flexwrap.flex-v-center
    - model.resource_representations.each_with_index do |r, i|
      .btn.selected{id: r.id, class: "color-#{i}"}=r.name
  #error.error
    %ps-editor{value: format_json(model_instance.body), class: "ps-editor"}

  - model_instance.body_errors_by_representations.each_pair do |rep, body_errors|
    = link_to rep.name, project_resource_path(project, rep.resource, anchor: "rep-#{rep.id}")
    = render partial: 'shared/schema_errors', locals: { body_errors: body_errors }
