= content_for :title, 'Users'

%h1 Users

%table{class: "table table-striped"}
  %thead
    %tr
      %th Email
      %th Internal
      %th Projects
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td
          = form_with model: user, format: :json, class: 'user_form' do |f|
            = f.check_box :internal, onchange: '$(this.form).trigger("submit.rails");'

        %td= user.projects.map { |p| link_to(p.title, project_path(p)) }.to_sentence.html_safe
        %td= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'


