#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to "#{@project.title}", project_path(@project)
    %li
      = link_to 'Description', project_path(@project, tag: "desc")
    %li
      = link_to 'Edit Project', edit_project_path(@project)
    %li
      = link_to 'Add a new Resource', new_project_resource_path(@project)
    %li
      = link_to 'Show all Resources', project_resources_path(@project)
    %li
      = link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }