#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %h3= @project.title
    %li
      = link_to 'Project Description', project_path(@project)
    %li
      = link_to 'Add a new Resource', new_project_resource_path(@project)
    %li
      = link_to 'Show all Resources', project_resources_path(@project)
    %li
      = link_to 'List project routes', project_routes_path(@project)
    %li
      = link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }
