%nav#sidebar-wrapper
  .flexcolumn.sidebar-nav
    .pericles-logo
      = image_tag 'logo.svg'
    - if respond_to?(:project) && project&.persisted?
      %a.project-back{href: projects_path}
        = image_tag 'arrow_back.svg', class: 'arrow-back'
        = project.title
      .nav-cell{class:  active_class(ProjectsController)}
        = link_to 'Project Description', project_path(project)
      .nav-cell{class: active_class(ResourcesController)}
        = link_to 'Resources', project_resources_path(project)
      .nav-cell{class: active_class(RoutesController)}
        = link_to 'Routes', project_routes_path(project)
      .nav-cell{class: active_class(MetadataController)}
        = link_to 'Metadata', project_metadata_path(project)
      .nav-cell{class: active_class(ReportsController)}
        = link_to 'Reports', project_reports_path(project)
      .nav-cell{class: active_class(MockProfilesController)}
        = link_to 'Mock Profiles', project_mock_profiles_path(project)
      .nav-cell{class: active_class(ApiErrorsController)}
        = link_to 'Errors', project_api_errors_path(project)