%nav#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %h3= project.title
    %li{class: active_class(ProjectsController)}
      = link_to 'Project Description', project_path(project)
    %li{class: active_class(ResourcesController)}
      = link_to 'Resources', project_resources_path(project)
    %li{class: active_class(RoutesController)}
      = link_to 'Routes', project_routes_path(project)
    %li{class: active_class(MetadataController)}
      = link_to 'Metadata', project_metadata_path(project)
    %li{class: active_class(ReportsController)}
      = link_to 'Reports', project_reports_path(project)
    %li{class: active_class(MockProfilesController)}
      = link_to 'Mock Profiles', project_mock_profiles_path(project)
    %li{class: active_class(ApiErrorsController)}
      = link_to 'Errors', project_api_errors_path(project)
