= bootstrap_form_for project do |f|
  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'
  = render 'shared/errors', object: project

  = f.text_field :title
  = f.collection_select :user_ids, User.external, :id, :email, { label: t('.external_members') }, { multiple: true }

  - if project.persisted?
    .form-group
      %label.control-label
        URL Mocks
      %input.form-control{type: 'text', value: project_mocks_root_url(project), disabled: 'true'}

  - project.description ||= t('.description_default')
  = f.text_area :description

  = f.fields_for :proxy_configuration do |fields|
    = render 'proxy_configuration_fields', :f => fields

  = f.fields_for :api_gateway_integration do |fields|
    = render 'api_gateway_integration_fields', :f => fields
