= content_for :title, "Projects"

- if user.can_create? Project
  .row.margin-top-element
    .col-xs-12.flexcontainer.flexcontainer-justify-end
      = link_to 'Import Swagger', new_import_swagger_projects_path, class: "btn btn-primary btn-lg"
      = link_to 'New Project', new_project_path, class: "btn btn-primary btn-lg"
.row.margin-top-element
  .col-xs-12
    .list-group
      - @projects.each do |project|
        %a{class: "list-group-item", href: project_path(project)}
          = project.title
    - if current_user.nil?
      %p= t('.visitor_see_only_public', href: link_to(t('actions.sign_in'), new_user_session_path)).html_safe
