%ol.breadcrumb
  %li
    = link_to 'Projects', projects_path
  %li
    = link_to "#{project.title}", project_path(project)
  %li
    Search results

%h3 Search results

- if @results.empty?
  %div= "There are no results matching « #{params[:query]} »"

- @results.each do |result|
  %div= "#{result.class}: #{(result.respond_to? :name) ? result.name : ''}"