%h1= @project.title

.flexcontainer.flexcontainer-justify-end
  .btn-group{ role: "group" }
    = link_to 'Edit', edit_project_path(@project), class: "btn btn-default"

%h4 Description
%p
  = simple_format(@project.description)

- unless @project.proxy_url.blank?

  %h4 Proxy Url
  %p= @project.proxy_url

%h4 Mock Url
= link_to project_mocks_root_url(@project), project_mocks_root_url(@project)


= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", id: 'delete-button'
