- content_for :page_scripts do
  = javascript_include_tag("header_autocomplete")
  = javascript_include_tag("generate_schema")
  = javascript_include_tag("responses/form.js")

= hidden_field_tag 'project_id', route.resource.project.id

= bootstrap_form_for([route, route_response]) do |f|
  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'
  = render 'shared/errors', object: route_response

  .row
    .col-xs-6
      = f.text_field :status_code

      %h5 Headers

      %table{class: "table table-striped", id: "headers"}
        %thead
          %tr
            %th Name
            %th Value
            %th
        %tbody
          = f.fields_for :headers do |response_header_fields|
            = render 'header_fields', f: response_header_fields

      = link_to_add_association "Add a Header", f, :headers,
        { 'data-association-insertion-node' => "#headers tbody", 'data-association-insertion-method' => 'append' }

    .col-xs-6{class: route_response.can_have_resource_representation ? 'resource-representation' : 'api-error'}
      = f.select(:resource_representation_id,
        route.representations_grouped_options,
        include_blank: true,
        selected: f.object.persisted? ? f.object.resource_representation_id : resource.resource_representations.first&.id)
      = f.select(:api_error_id,
        project.api_errors.pluck(:name, :id),
        include_blank: true,
        selected: f.object.persisted? ? f.object.api_error_id : project.api_errors.first&.id)


      %h5 JSON Schema
      = button_tag("Generate Schema from Resource Representation", type: 'button', resource_id: "#{resource.id}", id: 'generate-schema', style: "display: none;",
        onclick: "generate_schema_from_resource_representation(this)")

      = f.check_box :is_collection
      = f.text_field :root_key, class: 'root-key'

      %pre
        %code#json_schema
          = format_json(route_response.json_schema)

    %h5 Metadata
    = f.fields_for :metadata_responses, available_metadata_responses do |metadata_responses_fields|
      = render 'metadata_responses_fields', f: metadata_responses_fields

