.row.margin-top-element
  - unless response.description.blank?
    .col-xs-6
      %dl
        %dt Description
        %dd= response.description

  - unless response.resource_representation.blank?
    .col-xs-6
      %dl
        %dt Resource Representation
        %dd= response.resource_representation.name
        %dd= "Is collection ? #{response.is_collection}"

%div
  / Response Nav tabs
  %ul.nav.nav-tabs{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ "aria-controls" => "response headers", "data-toggle" => "tab", href: "#resp-#{response.id}-headers",
        role: "tab" }
        = "Headers"
    %li{ role: "presentation" }
      %a{ "aria-controls" => "response body", "data-toggle" => "tab", href: "#resp-#{response.id}-body",
        role: "tab" }
        = "Body"
  / Response Tab panes
  .tab-content
    .tab-pane.active{ role: "tabpanel", id: "resp-#{response.id}-headers" }
      .panel.panel-default
        .panel-body
          - if response.headers.any?
            - response.headers.each do |response_header|
              = render response_header
          - else
            %p
              %i= t('routes.show.no_header_placeholder')
    .tab-pane{ role: "tabpanel", id: "resp-#{response.id}-body" }
      .panel.panel-default
        .panel-body
          - unless response.body_schema.blank?
            .row
              .col-xs-6
                %h4 JSON Schema
                %pre.pre-scrollable
                  %code
                    =format_json_schema(response.body_schema)
          - else
            %p
              %i= t('routes.show.no_body_placeholder')
