%div
  / Response Nav tabs
  %ul.nav.nav-tabs{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ "aria-controls" => "response headers", "data-toggle" => "tab", href: "#resp-#{response.id}-headers",
        role: "tab" }
        = "Headers"
  / Response Tab panes
  .tab-content
    .tab-pane.active{ role: "tabpanel", id: "resp-#{response.id}-headers" }
      .panel.panel-default
        .panel-body
          - if response.headers.any?
            - response.headers.each do |response_header|
              = render response_header
          - else
            %p
              %i= t('routes.show.no_header_placeholder')