= bootstrap_form_for(@mock_instance.persisted? ? @mock_instance : [@response, @mock_instance]) do |f|
  - if @mock_instance.errors.any?
    #error_explanation
      %h2
        = pluralize(@mock_instance.errors.count, "error")
        prohibited this mock_instance from being saved:
      %ul
        - @mock_instance.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name

  = f.text_area :body, value: format_json(@mock_instance.body)

  %p
    = f.submit
