.top
  = render partial: "shared/last_edit", locals: {last_audit: resource.last_audit}
  - if user.can_edit? resource
    = link_to 'Edit', edit_project_resource_path(project, resource, section: "all_attributes"), class: "btn btn-primary"

.filter
  .flexspace-and-center
    %div Filter by representation :
    .btn.btn-link Manage
  .flexwrap
    .btn.representation-btn#all All
    - resource.resource_representations_with_color.each do |representation, color_class|
      .btn.representation-btn{class: color_class}= representation.name

%table.table
  %thead
    %tr
      %th Name
      %th Type
      %th Nullable
      %th Representations
      %th Expand All
  %tbody
    - resource.resource_attributes_by_name.each do |attribute|
      %tr
        %th= attribute.name
        %th= attribute.readable_type
        %th= attribute.nullable
        %th
          - resource.resource_representations_with_color.each do |representation, color_class|
            - if representation.resource_attributes.include?(attribute)
              .selected.circle{class: color_class}
            - else
              .circle{class: color_class}
        %th
          %a{href: "#collapse-attribute-#{attribute.id}"}▾