- content_for :page_scripts do
  = javascript_include_tag("resources/form.js")

= bootstrap_form_for([project, resource]) do |f|
  = render 'shared/errors', object: resource

  .header
    %h3 Edit attributes
    %div
      = link_to 'Cancel', project_resource_path(project, resource), class: 'btn btn-default'
      = f.submit 'Update', class: 'btn btn-primary'

  .attributes
    = f.fields_for :resource_attributes, resource.resource_attributes_by_name do |attribute_fields|
      = render 'resource_attribute_fields', f: attribute_fields
    .add-attribute.fields
      = link_to_add_association "+ Add an Attribute", f, :resource_attributes,
        { 'data-association-insertion-node' => "form .add-attribute", 'data-association-insertion-method' => 'before' }

