- content_for :page_scripts do
  = javascript_include_tag("resources/form.js")

= bootstrap_form_for([project, @resource_creation_contract]) do |f|
  = render 'shared/errors', object: @resource_creation_contract

  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'

  = f.text_field :name, placeholder: 'MyResource'

  = f.text_area :description

  .alert.alert-warning= t('.json_instance_explanation')

  = f.text_area :json_instance, label: 'From JSON (BETA)', placeholder: format_json({username: 'John Do', email: 'jd@fabernovel.com', first_name: 'John', last_name: 'Do', manager: nil}.to_json), class: 'json'
