= bootstrap_form_for([@project, @resource]) do |f|
  - if @resource.errors.any? || !@json_instance_error.blank?
    #error_explanation
      %h2
        = "#{pluralize(@resource.errors.count + (@json_instance_error.blank? ? 0 : 1), "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
        - unless @json_instance_error.blank?
          %li= @json_instance_error

  - unless params[:section] == "all_attributes"

    = f.text_field :name, placeholder: 'MyResource'

    = f.text_area :description

    - unless @resource.persisted?
      .alert.alert-warning= t('.json_instance_explanation')

      .form-group{class: @json_instance_error.blank? ? '' : 'has-error'}
        %label.control-label From JSON (BETA)
        = text_area_tag :json_instance, @json_instance, class: 'form-control', placeholder: format_json({username: 'John Do', email: 'jd@fabernovel.com', first_name: 'John', last_name: 'Do', manager: nil}.to_json)
        - unless @json_instance_error.blank?
          %span.help-block= @json_instance_error

  - if @resource.persisted? && params[:section] != "base"
    %h3 Attributes

    %table{class: "table table-striped", id: "table_attributes"}
      %tbody
        = f.fields_for :resource_attributes, @resource.resource_attributes.sorted_by_name, wrapper: false do |attribute_fields|
          = render 'resource_attribute_fields', f: attribute_fields
    %p
      = link_to_add_association "Add an Attribute", f, :resource_attributes,
        { 'data-association-insertion-node' => "#table_attributes tbody", 'data-association-insertion-method' => 'append' }

  %p
    = f.submit
