= bootstrap_form_for([@project, @resource]) do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg

  - unless params[:section] == "all_attributes"

    = f.text_field :name

    = f.text_area :description

  - if @resource.persisted? && params[:section] != "base"
    %h3 Attributes

    %table{class: "table table-striped", id: "table_attributes"}
      %thead
        %tr
          %th Name
          %th Description
          %th Primitive type
          %th Resource type
          %th Array ?
          %th Nullable ?
          %th Enum
          %th Scheme
          %th Minimum
          %th Maximum
          %th Min Items
          %th Max Items
          %th Faker
          %th
      %tbody
        = f.fields_for :resource_attributes, @resource.resource_attributes.sorted_by_name, wrapper: false do |attribute_fields|
          = render 'resource_attribute_fields', f: attribute_fields
    %p
      = link_to_add_association "Add an Attribute", f, :resource_attributes,
        { 'data-association-insertion-node' => "#table_attributes tbody", 'data-association-insertion-method' => 'append' }

  - if @resource.persisted?
    = link_to 'Add scheme', new_scheme_path,  :target => '_blank'

  %p
    = f.submit
