= content_for :title, "Resource #{resource.name}"

- content_for :page_scripts do
  = javascript_pack_tag("resources_show.js")

#resource-show
  %ol.breadcrumb
    %li
      = link_to 'Projects', projects_path
    %li
      = link_to "#{project.title}", project_path(project)
    %li
      = link_to 'Resources', project_resources_path(project)
    %li
      = resource.name

  - if flash[:error]
    .alert.alert-danger
      = flash[:error]

  %h1{id: resource.id}
    = resource.name
    - if user.can_edit? resource
      = link_to(image_tag('edit.svg'), edit_project_resource_path(project, resource, section: 'base'))
    - if user.can_delete? resource
      .pull-right
        = link_to("Delete", project_resource_path(project, resource),
            method: :delete,
            data: { confirm: 'Are you sure ?' },
            class: "btn btn-default")

  %p
    = resource.description

  %ul.nav.nav-pills{role: 'tablist'}
    %li.active
      %a{href: '#pills-attributes', 'data-toggle' => "pill", role: 'tab'}
        Attributes
        %span.badge=resource.resource_attributes.count
    %li
      %a{href: '#pills-resource-instances', 'data-toggle' => "pill", role: 'tab'}
        Instances
        %span.badge{class: resource.has_invalid_mocks? ? 'invalid-instances' : ''}
          =resource.resource_instances.count
    %li
      %a{href: '#pills-routes', 'data-toggle' => "pill", role: 'tab'}
        Routes
        %span.badge=resource.routes.count

  .tab-content
    #pills-attributes.tab-pane.fade.in.active{role: 'tabpanel'}
      = render partial: 'attributes'
    #pills-resource-instances.tab-pane.fade{role: 'tabpanel'}
      = render partial: 'resource_instances'
    #pills-routes.tab-pane.fade{role: 'tabpanel'}
      = render partial: 'routes'