- if flash[:error]
  %div{class: "alert alert-danger"}
    =flash[:error]

.page-header
  %h1
    = @resource.name

%p
  = @resource.description

%h3
  Attributes
  = render partial: "shared/last_edit", locals: {last_audit: @resource.last_audit}

%table{class: "table table-striped"}
  %thead
    %tr
      %th Name
      %th Description
      %th Type
      %th Enum
      %th Pattern
      %th Minimum
      %th Maximum
      %th Minimum length
      %th Maximum length
      %th Nullable
      %th Example
      %th Faker
  %tbody
    - @resource.resource_attributes.sorted_by_name.each do |attribute|
      %tr
        %th{scope: "row"}= attribute.name
        %td= attribute.description
        %td= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
        %td= attribute.enum
        %td= attribute.pattern
        %td= attribute.minimum
        %td= attribute.maximum
        %td= attribute.min_length
        %td= attribute.max_length
        %td= attribute.nullable
        %td= attribute.example
        %td= attribute.faker&.name

%h3 Representations

%p
  = link_to 'Add new representation', new_resource_resource_representation_path(@resource)

.list-group
  - @resource.resource_representations.each do |resource_rep|
    %a{class: "list-group-item", href: resource_resource_representation_path(@resource, resource_rep)}
      = resource_rep.name

%h3 Routes

= link_to 'Add new route', new_resource_route_path(@resource)

- if @resource.routes.any?
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Name
        %th Description
        %th HTTP Method
        %th URL
        %th Resource representations
        %th Details
    %tbody
      - @resource.routes.includes(:resource_representations).each do |route|
        %tr
          %th{scope: "row"}= route.name
          %td= route.description
          %td= route.http_method
          %td= route.url
          %td= route.resource_representations.uniq.map(&:name).join(", ")
          %td= link_to "Show", resource_route_path(@resource, route)
- else
  %p
    %i= t('.no_route_placeholder')

= link_to 'Edit', edit_project_resource_path(@project, @resource)
\|
= link_to "Delete", project_resource_path(@project, @resource), method: :delete, data: { confirm: 'Are you sure ?' }