= content_for :title, "Resource #{resource.name}"

- content_for :page_scripts do
  = javascript_include_tag("resources/show.js")

%ol.breadcrumb
  %li
    = link_to 'Projects', projects_path
  %li
    = link_to "#{project.title}", project_path(project)
  %li
    = link_to 'Resources', project_resources_path(project)
  %li
    = resource.name

- if flash[:error]
  .alert.alert-danger
    = flash[:error]

.page-header
  %h1
    = resource.name
    .pull-right
      .btn-group{ role: "group" }
        = link_to 'Edit', edit_project_resource_path(project, resource, section: "base"), class: "btn btn-default" if user.can_edit? resource
        = link_to "Delete", project_resource_path(project, resource), method: :delete, data: { confirm: 'Are you sure ?' },
       class: "btn btn-default" if user.can_delete? resource

%p
  = resource.description

%h3
  Attributes
  = render partial: "shared/last_edit", locals: {last_audit: resource.last_audit}

%div
  / Global Nav tabs
  %ul.nav.nav-tabs.nav-justified{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ "aria-controls" => "all attributes", "data-toggle" => "tab", href: "#all-attributes", role: "tab" }
        = "All Attributes"
    %li{ role: "presentation" }
      %a{ "aria-controls" => "resource representations", "data-toggle" => "tab", href: "#resource-reps", role: "tab" }
        = "Resource Representations"
  / Global Tab panes
  .tab-content
    #all-attributes.tab-pane.active{ role: "tabpanel" }
      .panel.panel-default
        .panel-heading
          .flexcontainer.flexcontainer-justify-end
            = link_to 'Edit', edit_project_resource_path(project, resource, section: "all_attributes"), class: "btn btn-default" if user.can_edit? resource
        .panel-body
          - resource.resource_attributes.sorted_by_name.each do |attribute|
            = render attribute
    #resource-reps.tab-pane{ role: "tabpanel" }
      %div
        / Nav tabs for Resource Representations
        %ul.nav.nav-tabs{ role: "tablist" }
          - resource.resource_representations.each_with_index do |resource_rep, index|
            %li{ role: "presentation", class: ('active' if index.zero?) }
              %a{ "aria-controls" => "#{resource_rep.name}", "data-toggle" => "tab", href: "#res-#{resource_rep.id}", role: "tab" }
                = resource_rep.name
          - if user.can_create? ResourceRepresentation, project: project
            %li{ role: "presentation" }
              = link_to '+', new_resource_resource_representation_path(resource)
        / Tab panes for Resource Representations
        .tab-content
          - resource.resource_representations.each_with_index do |resource_rep, index|
            .tab-pane{ role: "tabpanel", id: "res-#{resource_rep.id}", class: ('active' if index.zero?) }
              = render resource_rep

= render partial: 'resource_instances'
= render partial: 'routes'