- if flash[:error]
  %div{class: "alert alert-danger"}
    =flash[:error]

.page-header
  %h1
    = @resource.name

%p
  = @resource.description

%h3 Attributes

%table{class: "table table-striped"}
  %thead
    %tr
      %th Name
      %th Description
      %th Type
      %th Example
  %tbody
    - @resource.resource_attributes.each do |attribute|
      %tr
        %th{scope: "row"}= attribute.name
        %td= attribute.description
        %td= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
        %td= attribute.example

%h3 Routes

= link_to 'Add new route', new_project_resource_route_path(@project, @resource)

%table{class: "table table-striped"}
  %thead
    %tr
      %th Name
      %th Description
      %th HTTP Method
      %th URL
      %th Details
  %tbody
    - @resource.routes.each do |route|
      %tr
        %th{scope: "row"}= route.name
        %td= route.description
        %td= route.http_method
        %td= route.url
        %td= link_to "Show", project_resource_route_path(@project, @resource, route)

= link_to 'Edit', edit_project_resource_path(@project, @resource)
\|
= link_to "Delete", project_resource_path(@project, @resource), method: :delete, data: { confirm: 'Are you sure ?' }