= bootstrap_form_for([resource, resource_representation]) do |f|
  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'
  = render 'shared/errors', object: resource_representation

  .row
    .col-xs-6
      = f.text_field :name

      = f.text_area :description

  .row
    .col-xs-12
      %h3 Attributes
      %table{class: "table table-striped"}
        %thead
          %tr
            %th
            %th Name
            %th Type
            %th Resource Representation
            %th Required ?
            %th Is Null ?
            %th Key name
            %th
        %tbody
          = f.fields_for :attributes_resource_representations, all_attributes_resource_representations do |fields|
            - attributes_resource_representation = fields.object
            - attribute = attributes_resource_representation.resource_attribute
            - type_resource = attribute.resource
            %tr
              %td
                = fields.check_box :_destroy,
                { label: "Selected", checked: !attributes_resource_representation.new_record? }, "0", "1"
              %td
                = attribute.name
              %td
                = format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
              %td
                = fields.select :resource_representation_id,
                 type_resource.resource_representations.collect { |r| [ r.name, r.id ] }, include_blank: true,
                  hide_label: true, selected: fields.object.resource_representation_id || type_resource.resource_representations.first.id  if type_resource
              %td
                = fields.check_box :is_required
              %td
                = fields.check_box :is_null
              %td
                = fields.text_field :custom_key_name, hide_label: true, placeholder: attribute.key_name_placeholder
              %td
                = fields.hidden_field :attribute_id
