.panel.panel-default#resource-representation
  .panel-heading
    %p
      .flexcontainer.flexcontainer-justify-end
        .btn-group{ role: "group" }
          - if user.can_create? ResourceRepresentation, project: project
            = link_to 'Clone', resource_resource_representation_clone_path(resource_representation.resource, resource_representation),
         method: :post, class: "btn btn-default btn-md", data: { confirm: 'Are you sure ?' }
          = link_to 'Edit', edit_resource_resource_representation_path(resource_representation.resource, resource_representation),
         class: "btn btn-default btn-md" if user.can_edit? resource_representation
          = link_to "Delete", resource_resource_representation_path(resource_representation.resource, resource_representation),
         method: :delete, data: { confirm: 'Are you sure ?' }, class: "btn btn-default btn-md" if user.can_delete? resource_representation
    %p
      = resource_representation.description
      = render partial: "shared/last_edit", locals: {last_audit: resource_representation.last_audit}
  .panel-body
    - resource_representation.attributes_resource_representations.ordered_by_attribute_name.each do |attr_resource_rep|
      - attribute = attr_resource_rep.resource_attribute
      - resource_representation_for_attr = attr_resource_rep.resource_representation
      .panel.panel-default
        .panel-body
          .row
            .col-xs-3
              %dl
                %dt Name
                %dd
                  %strong= attribute.name
            .col-xs-3
              %dl
                %dt Type
                %dd
                  - if attribute.resource_id
                    %a{href: project_resource_path(project, attribute.resource_id)}
                      %strong= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array, attr_resource_rep.is_null)
                  - else
                    %strong= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array, attr_resource_rep.is_null)
            .col-xs-3
              - if resource_representation_for_attr
                %dl
                  %dt Resource Representation
                  %dd
                    %a{href: project_resource_path(project, attribute.resource_id) + "#res-#{resource_representation_for_attr.id}"}
                      =resource_representation_for_attr.name
            .col-xs-3
              %dl
                %dt Required ?
                %dd= attr_resource_rep.is_required ? t('required') : t('optional')

