%div{class: "panel panel-default"}
  .panel-body
    %p
      .flexcontainer.flexcontainer-justify-end
        .btn-group{ role: "group" }
          = link_to 'Edit', edit_resource_resource_representation_path(resource_representation.resource, resource_representation),
         class: "btn btn-default btn-md"
          = link_to "Delete", resource_resource_representation_path(resource_representation.resource, resource_representation),
         method: :delete, data: { confirm: 'Are you sure ?' }, class: "btn btn-default btn-md"
    %p
      = resource_representation.description
      = render partial: "shared/last_edit", locals: {last_audit: resource_representation.last_audit}
  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Nullable
        %th Enum
        %th Pattern
        %th Resource Representation
        %th Required ?
        %th Faker
    %tbody
      - resource_representation.attributes_resource_representations.ordered_by_attribute_name.each do |attr_resource_rep|
        - attribute = attr_resource_rep.resource_attribute
        - resource_representation_for_attr = attr_resource_rep.resource_representation
        %tr
          %th{scope: "row"}= attribute.name
          %td= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
          %td= attr_resource_rep.custom_nullable
          %td= attr_resource_rep.custom_enum
          %td= attr_resource_rep.custom_pattern
          %td= resource_representation_for_attr.name if resource_representation_for_attr
          %td= attr_resource_rep.is_required ? t('required') : t('optional')
          %td= attr_resource_rep.custom_faker&.name