- if flash[:error]
  %div{class: "alert alert-danger"}
    =flash[:error]

.page-header
  %h1
    !="#{@resource.name} <small> #{@representation.name} </small>"

%div{class: "panel panel-default"}
  .panel-heading
    = @representation.name
  .panel-body
    %p
      = @representation.description
  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Nullable
        %th Enum
        %th Pattern
        %th Resource Representation
        %th Required ?
        %th Faker
    %tbody
      - @representation.attributes_resource_representations.ordered_by_attribute_name.each do |attr_resource_rep|
        - attribute = attr_resource_rep.resource_attribute
        - resource_representation = attr_resource_rep.resource_representation
        %tr
          %th{scope: "row"}= attribute.name
          %td= format_type(attribute.primitive_type, attribute.resource_id, attribute.is_array)
          %td= attr_resource_rep.custom_nullable
          %td= attr_resource_rep.custom_enum
          %td= attr_resource_rep.custom_pattern
          %td= resource_representation.name if resource_representation
          %td= attr_resource_rep.is_required ? t('required') : t('optional')
          %td= attr_resource_rep.custom_faker&.name

= link_to 'Edit', edit_resource_resource_representation_path(@resource, @representation)
\|
= link_to "Delete", resource_resource_representation_path(@resource, @representation), method: :delete,
 data: { confirm: 'Are you sure ?' }
\|
= link_to 'Back', project_resource_path(@project, @resource)
