= content_for :title, "Edit Metadatum #{metadatum.name}"

%ol.breadcrumb
  %li
    = link_to 'Projects', projects_path
  %li
    = link_to "#{project.title}", project_path(project)
  %li
    = link_to 'Metadata', project_metadata_path(project)
  %li
    = metadatum.name

= render 'form'