= bootstrap_form_for([project, route], url: if route.new_record? then nil else "/projects/#{project.id}/routes/#{route.id}?section=base" end) do |f|
  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'
  = render 'shared/errors', object: route

  .row
    .col-xs-6
      = f.select :resource_id, project.resources.collect { |r| [ r.name, r.id ] }, include_blank: false
      = f.text_field :url, placeholder: "/my_resources"
      = f.select :http_method, Route.http_methods.keys.to_a
      = f.text_field :operation_id, placeholder: "Operation id (unique per project)"
      = f.text_area :description, placeholder: t('.description_placeholder')
      = f.select :security_scheme_id, project.security_schemes.collect { |ss| [ ss.key, ss.id ] }, include_blank: true
      = f.text_field :deprecated, placeholder: "If deprecated, please tell why. Empty field means not deprecated"
