- content_for :page_scripts do
  = javascript_include_tag("header_autocomplete")
  = javascript_include_tag("generate_schema")

= bootstrap_form_for([@resource, @route]) do |f|
  - if @route.errors.any?
    #error_explanation
      %h2
        = pluralize(@route.errors.count, "error")
        prohibited this route from being saved:
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  - if params[:section] == "base" || @route.new_record?
    .row
      .col-xs-6
        = f.text_field :url, placeholder: "/#{@resource.name.pluralize.underscore}"

        = f.text_area :description, placeholder: t('.description_placeholder')

        = f.select :http_method, Route.http_methods.keys.to_a


        = f.text_field :name, placeholder: 'List of, Creation of...'

  %h3 Request

  .row
    .col-xs-10
      - if params[:section] == "query_parameters" || @route.new_record?
        %h4 Query Parameters

        %table{class: "table table-striped", id: "table_request_query_parameters"}
          %thead
            %tr
              %th Name
              %th Description
              %th Type
              %th Optional ?
              %th
          %tbody
            = f.fields_for :request_query_parameters, wrapper: false do |query_parameter_fields|
              = render 'request_query_parameters_fields', f: query_parameter_fields


        = link_to_add_association "Add a Query Parameter", f, :request_query_parameters,
          { 'data-association-insertion-node' => "#table_request_query_parameters tbody", 'data-association-insertion-method' => 'append' }

      - if params[:section] == "request_headers" || @route.new_record?
        %h4 Headers

        %table{class: "table table-striped", id: "table_request_headers"}
          %thead
            %tr
              %th Name
              %th Value
              %th
          %tbody
            = f.fields_for :request_headers, wrapper: false do |header_fields|
              = render 'request_header_fields', f: header_fields



        = link_to_add_association "Add a Header", f, :request_headers,
          { 'data-association-insertion-node' => "#table_request_headers tbody", 'data-association-insertion-method' => 'append' }

  - if params[:section] == "request_body" || @route.new_record?
    .row
      .col-xs-6

        %h4 Body

        = f.select :request_resource_representation_id, @resource.resource_representations.pluck(:name, :id), include_blank: true

        %h5 JSON Schema
        = button_tag("Generate Schema from Resource Representation", type: 'button', resource_id: "#{@resource.id}", id: 'generate-schema', style: "display: none;",
          onclick: "generate_schema_from_resource_representation(this)")

        = f.check_box :request_is_collection
        = f.text_field :request_root_key, class: 'root-key'
        = f.text_area :request_json_schema, size: "60x20", label: 'Body JSON schema', readonly: true, value: format_json(@route.request_json_schema)

  %p
    = f.submit
