- content_for :page_scripts do
  = javascript_include_tag("routes/edit")

= bootstrap_nested_form_for([@resource, @route]) do |f|
  - if @route.errors.any?
    #error_explanation
      %h2
        = pluralize(@route.errors.count, "error")
        prohibited this route from being saved:
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-xs-6
      = f.text_field :name

      = f.text_area :description

      = f.select :http_method, Route.http_methods.keys.to_a

      = f.text_field :url

  %h3 Request

  .row
    .col-xs-10

      %h4 Query Parameters

      %table{class: "table table-striped", id: "table_request_query_parameters"}
        %thead
          %tr
            %th Name
            %th Description
            %th Type
            %th Optional ?
            %th
        %tbody
          = f.fields_for :request_query_parameters, wrapper: false do |query_parameter_fields|
            %tr.fields
              %td
                = query_parameter_fields.text_field :name, hide_label: true
              %td
                = query_parameter_fields.text_area :description, hide_label: true
              %td
                = query_parameter_fields.select :primitive_type, QueryParameter.primitive_types.keys.to_a, include_blank: true, hide_label: true
              %td
                = query_parameter_fields.check_box :is_optional, hide_label: true
              %td
                = query_parameter_fields.link_to_remove "Remove"

      = f.link_to_add "Add a Query Parameter", :request_query_parameters, data: { target: "#table_request_query_parameters" }

      %h4 Headers

      %table{class: "table table-striped", id: "table_request_headers"}
        %thead
          %tr
            %th Name
            %th Description
            %th
        %tbody
          = f.fields_for :request_headers, wrapper: false do |header_fields|
            %tr.fields
              %td
                = header_fields.text_field :name, hide_label: true
              %td
                = header_fields.text_area :description, hide_label: true
              %td
                = header_fields.link_to_remove "Remove"


      = f.link_to_add "Add a Header", :request_headers, data: { target: "#table_request_headers" }

  .row
    .col-xs-6

      %h4 Resource Representations

      = f.select :request_resource_representation_id, @resource.resource_representations.pluck(:name, :id), include_blank: true

      %h5 JSON Schema
      = button_tag("Generate Schema from Resource Representation", type: 'button',
        onclick: "generate_schema_from_resource_representation(this)")

      = f.check_box :is_collection
      = f.text_area :request_body_schema, size: "60x20", label: 'Body JSON schema'

  %h3 Responses

  #route_responses
    = f.hidden_field :default_root_key, id: 'default-root-key', value: @resource.name.downcase

    = f.fields_for :responses do |response_fields|

      %h4 Response

      .row
        .col-xs-6
          = response_fields.text_field :status_code
          = response_fields.text_area :description

          %h5 Headers

          %table{class: "table table-striped"}
            %thead
              %tr
                %th Name
                %th Description
                %th
            %tbody
              = response_fields.fields_for :headers, wrapper: false do |response_header_fields|
                %tr.fields
                  %td
                    = response_header_fields.text_field :name, hide_label: true
                  %td
                    = response_header_fields.text_area :description, hide_label: true
                  %td
                    = response_header_fields.link_to_remove "Remove"

          = response_fields.link_to_add "Add a Header", :headers

        .col-xs-6

          = response_fields.select :resource_representation_id, @resource.resource_representations.pluck(:name, :id), include_blank: true

          %h5 JSON Schema
          = button_tag("Generate Schema from Resource Representation", type: 'button',
            onclick: "generate_schema_from_resource_representation(this)")

          = response_fields.check_box :is_collection
          = response_fields.text_field :root_key, class: 'root-key'
          = response_fields.text_area :body_schema, size: "60x20", label: 'Body JSON schema'

      = response_fields.link_to_remove "Remove"

    = f.link_to_add "Add a Response", :responses

  %p
    = f.submit

:javascript
  $("form").on("nested:fieldAdded", function(event) {
    var field = event.field.find('.root-key');
    return field.val($('#default-root-key').val());
  });