= nested_form_for([@project, @resource, @route]) do |f|
  - if @route.errors.any?
    #error_explanation
      %h2
        = pluralize(@route.errors.count, "error")
        prohibited this route from being saved:
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :http_method
    %br/
    = f.select :http_method, Route.http_methods.keys.to_a
  %p
    = f.label :url
    %br/
    = f.text_field :url

  %h3 Request

  %h4 Query Parameters

  = f.link_to_add "Add a Query Parameter", :request_query_parameters

  = f.fields_for :request_query_parameters do |query_parameter_fields|
    = query_parameter_fields.label :name
    = query_parameter_fields.text_field :name
    = query_parameter_fields.label :description
    = query_parameter_fields.text_area :description
    = query_parameter_fields.label :primitive_type, "Type"
    = query_parameter_fields.select :primitive_type, QueryParameter.primitive_types.keys.to_a, include_blank: true
    = query_parameter_fields.label :is_optional, "Optional?"
    = query_parameter_fields.check_box :is_optional

    = query_parameter_fields.link_to_remove "Remove"
    %br/

  %h4 Headers

  = f.link_to_add "Add a Header", :request_headers

  = f.fields_for :request_headers do |header_fields|
    = header_fields.label :name
    = header_fields.text_field :name
    = header_fields.label :description
    = header_fields.text_area :description

    = header_fields.link_to_remove "Remove"
    %br/

  %p
    = f.label :request_body_schema, "Body JSON Schema"
    %br/
    = f.text_area :request_body_schema, size: "60x20"

  %h3 Responses

  = f.link_to_add "Add a Response", :responses

  = f.fields_for :responses do |response_fields|

    %h4 Response

    = response_fields.label :status_code
    = response_fields.text_field :status_code
    = response_fields.label :description
    = response_fields.text_area :description

    %h5 Headers

    = response_fields.link_to_add "Add a Header", :headers

    = response_fields.fields_for :headers do |response_header_fields|
      = response_header_fields.label :name
      = response_header_fields.text_field :name
      = response_header_fields.label :description
      = response_header_fields.text_area :description

      = response_header_fields.link_to_remove "Remove"
      %br/

    %br/
    = response_fields.label :body_schema, "Body JSON Schema"
    %br/
    = response_fields.text_area :body_schema, size: "60x20"
    %br/

    = response_fields.link_to_remove "Remove"
    %br/

  %p
    = f.submit
