= bootstrap_form_for([project, route]) do |f|
  = render 'shared/errors', object: route


  - if params[:section] == "base" || route.new_record?
    .row
      .col-xs-6
        = f.text_field :url, placeholder: "/#{route.resource.name.pluralize.underscore}"
        = f.select :http_method, Route.http_methods.keys.to_a
        = f.text_area :description, placeholder: t('.description_placeholder')

  - if route.persisted?

    %h3 Request

    .row
      .col-xs-10
        %h4
          Query Parameters
          %span.query-example ?arg1=val1&arg2=val2

        %table{class: "table table-striped", id: "table_request_query_parameters"}
          %thead
            %tr
              %th Name
              %th Type
              %th Optional ?
              %th Description
              %th
          %tbody
            = f.fields_for :request_query_parameters do |query_parameter_fields|
              = render 'request_query_parameter_fields', f: query_parameter_fields


        = link_to_add_association "Add a Query Parameter", f, :request_query_parameters,
          { 'data-association-insertion-node' => "#table_request_query_parameters tbody", 'data-association-insertion-method' => 'append' }

  %p
    = f.submit
