%tr.fields.nested-fields
  %td
    = f.text_field :name, hide_label: true, placeholder: t('.name_placeholder')
  %td
    = f.select :primitive_type, QueryParameter.primitive_types.keys.to_a, include_blank: true, hide_label: true
  %td
    = f.check_box :is_optional, hide_label: true
  %td
    = f.text_area :description, hide_label: true, placeholder: t('.description_placeholder')
  %td
    = link_to_remove_association "Remove", f