.panel.panel-default
  .panel-body
    .row
      .col-xs-2.http-method-column
        %span{ class: get_http_method_label_class(route) }= route.http_method
      .col-xs-3
        %dl
          %dt URL
          %dd= route.url
      .col-xs-3
        %dl
          %dt Description
          %dd= route.description
      .col-xs-3
        - unless route.resource_representations.empty?
          %dl
            %dt Resource representations
            %dd= route.resource_representations.uniq.map(&:name).join(", ")
      - if resource = local_assigns[:resource]
        .col-xs-1
          = link_to 'Show', resource_route_path(resource, route), class: "btn btn-default btn-md"
