.panel.panel-default.break-word
  .panel-body
    .row
      .col-xs-2.http-method-column
        %span{ class: label_class_for_http_method(route.http_method) }= route.http_method
      .col-xs-3
        %dl
          %dt URL
          %dd= route.url
          -if url = local_assigns[:real_url]
            %dd
              %strong= url
      .col-xs-3
        %dl
          %dt Description
          %dd= route.description
      .col-xs-3
        - if should_display_representations && !route.resource_representations.empty?
          %dl
            %dt Resource representations
            %dd= route.resource_representations_links
        - else
          %dl
            %dt Resource
            %dd= link_to route.resource.name, project_resource_path(route.project, route.resource)
      - if resource = local_assigns[:resource]
        .col-xs-1
          = link_to 'Show', project_route_path(project, route), class: "btn btn-primary btn-md"

