
%h1 Routes

- if @routes_by_resource.any?
  - @resources.each do |resource|
    .routes-container
      %a{href: project_resource_path(@project, resource)}
        %h4= resource.name
      = link_to 'New Route', new_resource_route_path(resource), class: "btn btn-default btn-lg"

    .routes-sub-container
      - @routes_by_resource[resource].each do |route|
        %a{class: 'route-row', href: resource_route_path(route.resource, route)}
          %div{style: 'width: 10%'}
            %span{ class: label_class_for_http_method(route.http_method) }= route.http_method
          %div{style: 'flex: 1'}= route.url
          %div{style: 'width: 25%'}= route.resource_representations.uniq.map(&:name).join(", ")
          - if route.responses.empty?
            %div.tooltip{style: 'width: 25%', 'data-toggle' => "tooltip", 'data-placement' => "top", title: "No responses"}
              \/!\

- else
  %p
    %i= t('.no_route_placeholder')
