%h1 Routes

- if @routes_by_resource.any?
  - @resources.each do |resource|
    %h4= resource.name

    %div
      - @routes_by_resource[resource].each do |route|
        .route-row
          %div{style: 'width: 10%'}
            %span{ class: label_class_for_http_method(route.http_method) }= route.http_method
          %div{style: 'width: 25%'}= route.url
          %div{style: 'width: 25%', scope: 'row'}= route.name
          %div{style: 'width: 25%'}= route.resource_representations.uniq.map(&:name).join(", ")
          %div= link_to "Show", resource_route_path(route.resource, route)
- else
  %p
    %i= t('.no_route_placeholder')
