- content_for :page_scripts do
  = javascript_include_tag("validate_instance")
  = javascript_include_tag("generate_instance")
  = javascript_include_tag("routes/show")

.row
  .col-xs-12
    .page-header
      %h1
        !="#{@resource.name} <small> #{@route.name} </small>"
        = render partial: "shared/last_edit", locals: {last_audit: @route.last_audit}
        .pull-right
          .btn-group{ role: "group" }
            = link_to 'Edit', edit_resource_route_path(@resource, @route), class: "btn btn-default"
            = link_to "Delete", resource_route_path(@resource, @route), method: :delete, data: { confirm: 'Are you sure ?' },
             class: "btn btn-default"
    = render partial: 'routes/route_summary', locals: { route: @route }

.row
  .col-xs-12
    %h2 Request

.row
  .col-xs-6
    - unless @route.request_query_parameters.blank?
      %h4 Query Parameters
      %table{class: "table table-striped"}
        %thead
          %tr
            %th Name
            %th Description
            %th Type
            %th
        %tbody
          - @route.request_query_parameters.each do |query_parameter|
            %tr
              %th{scope: "row"}= query_parameter.name
              %td= simple_format(query_parameter.description)
              %td= query_parameter.primitive_type
              %td= query_parameter.is_optional ? t('optional') : t('required')

    - unless @route.request_headers.blank?
      %h4 Headers
      %table{class: "table table-striped"}
        %thead
          %tr
            %th Name
            %th Description
        %tbody
          - @route.request_headers.each do |header|
            %tr
              %th{scope: "row"}= header.name
              %td= header.description
    - unless @route.request_resource_representation.blank?
      %h4 Resource Representation
      %p= @route.request_resource_representation.name
      %p= "Is collection ? #{@route.is_collection}"

  - unless @route.request_body_schema.blank?
    .col-xs-6
      %h4 Body JSON Schema
      %pre.pre-scrollable
        %code
          =format_json_schema(@route.request_body_schema)

.row
  .col-xs-12
    %h2 Responses

- @route.responses.each do |response|
  .row{:style => "border-bottom: solid 1px #eee"}
    .col-xs-6
      %h4 Status Code
      %p= response.status_code
      - unless response.description.blank?
        %h4 Description
        %p= response.description
      - unless response.resource_representation.blank?
        %h4 Resource Representation
        %p= response.resource_representation.name
        %p= "Is collection ? #{response.is_collection}"
      - unless response.headers.blank?
        %h4 Headers
        %table{class: "table table-striped"}
          %thead
            %tr
              %th Name
              %th Description
          %tbody
            - response.headers.each do |response_header|
              %tr
                %th{scope: "row"}= response_header.name
                %td= response_header.description
    - unless response.body_schema.blank?
      .col-xs-6
        %h4 Body JSON Schema
        %pre.pre-scrollable
          %code
            =format_json_schema(response.body_schema)


- if route_includes_json_schema(@route)
  .row
    .col-xs-6
      %h2 Validate a JSON instance

      #json_validation_result

      %p
        Against:

      %p
        - unless @route.request_body_schema.blank?
          = radio_button_tag(:validation_json_schema, @route.request_body_schema, false, id: "validation_request_body_schema")
          = label_tag(:validation_request_body_schema, "Request Body JSON Schema")
          %br/
        - @route.responses.each do |response|
          - unless response.body_schema.blank?
            - radio_button_id = "validation_response_#{response.id}_body_schema"
            = radio_button_tag(:validation_json_schema, response.body_schema, false, id: radio_button_id)
            = label_tag(radio_button_id.to_sym, "Response Body JSON Schema (Status Code: #{response.status_code})")

      %p
        = text_area_tag(:json_instance, @default_json_instance, size: "60x20")
      %p
        = submit_tag("Validate", id: 'validate_json_instance')

    .col-xs-6
      %h2 Generate a JSON instance

      %p
        Of:

      %p
        - unless @route.request_body_schema.blank?
          = radio_button_tag(:generation_json_schema, @route.request_body_schema, false, id: 'generation_request_body_schema')
          = label_tag(:generation_request_body_schema, "Request Body JSON Schema")
          %br/
        - @route.responses.each do |response|
          - unless response.body_schema.blank?
            - radio_button_id = "generation_response_#{response.id}_body_schema"
            = radio_button_tag(:generation_json_schema, response.body_schema, false, id: radio_button_id)
            = label_tag(radio_button_id.to_sym, "Response Body JSON Schema (Status Code: #{response.status_code})")

      %p
        = submit_tag("Generate", id: 'generate_json_instance')

      #json_generation_result

= link_to 'Back', project_resource_path(@project, @resource)
