- content_for :page_scripts do
  = javascript_include_tag("validate_instance")
  = javascript_include_tag("generate_instance")
  = javascript_include_tag("routes/show")

.row
  .col-xs-12
    .page-header
      %h1
        !="#{@resource.name} <small> #{@route.name} </small>"
    %p= @route.description
    %pre
      %code= "#{@route.http_method} #{@route.url}"

.row
  .col-xs-12
    %h2 Request
    - unless @route.request_query_parameters.blank?
      %h4 Query Parameters
      %table{class: "table table-striped"}
        %thead
          %tr
            %th Name
            %th Description
            %th Type
            %th
        %tbody
          - @route.request_query_parameters.each do |query_parameter|
            %tr
              %th{scope: "row"}= query_parameter.name
              %td= query_parameter.description
              %td= query_parameter.primitive_type
              %td= query_parameter.is_optional ? t('optional') : t('required')

    - unless @route.request_headers.blank?
      %h4 Headers
      %table{class: "table table-striped"}
        %thead
          %tr
            %th Name
            %th Description
        %tbody
          - @route.request_headers.each do |header|
            %tr
              %th{scope: "row"}= header.name
              %td= header.description

    - unless @route.request_body_schema.blank?
      %h4 Body JSON Schema
      %pre.pre-scrollable
        %code
          =format_json_schema(@route.request_body_schema)

.row
  .col-xs-12
    %h2 Responses

- @route.responses.each do |response|
  .row
    .col-xs-6
      %h4 Status Code
      %p= response.status_code
      - unless response.description.blank?
        %h4 Description
        %p= response.description
      - unless response.headers.blank?
        %h4 Headers
        %table{class: "table table-striped"}
          %thead
            %tr
              %th Name
              %th Description
          %tbody
            - response.headers.each do |response_header|
              %tr
                %th{scope: "row"}= response_header.name
                %td= response_header.description

    .col-xs-6
      %h4 Body JSON Schema
      %pre.pre-scrollable
        %code
          =format_json_schema(response.body_schema)


= link_to 'Edit', edit_project_resource_route_path(@project, @resource, @route)
\|
= link_to "Delete", project_resource_route_path(@project, @resource, @route), method: :delete, data: { confirm: 'Are you sure ?' }
\|
= link_to 'Back', project_resource_path(@project, @resource)