= bootstrap_form_for([project, security_scheme]) do |f|
  .flexcontainer-justify-end= f.submit class: 'btn btn-primary'
  = render 'shared/errors', object: security_scheme

  .row
    .col-xs-6
      = f.text_field :key, placeholder: "theUltimateSecurity"
      = f.text_field :security_scheme_type, placeholder: "apiKey"
      = f.text_field :name, placeholder: "Authorization"
      = f.text_field :in, placeholder: "header"
      = f.text_area :parameters, placeholder: "{}"
