%h1 Reports

- if @reports.any?
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Method
        %th Url
        %th Status
        %th Date
        %th
        %th
    %tbody
      - @reports.each do |report|
        %tr{:class => (report.correct? ? 'valid' : 'invalid' )}
          %td= report.route.http_method
          %td= report.url
          %td= report.response_status_code
          %td= report.created_at
          %td= report.correct? ? '☑' : '☐'
          %td= link_to 'Detail', project_report_path(@project, report)

  = paginate @reports
