= content_for :title, "Reports"

%h1 Reports

- if @reports.any?
  %table#reports{class: "table table-striped"}
    %thead
      %tr
        %th Method
        %th Url
        %th Status
        %th Date
        %th
        %th
    %tbody
      - reports.each do |report|
        %tr{class: report.tr_class}
          %td
            .request-method
              %span{ class: label_class_for_http_method(report.request_method) }= report.request_method
          %td= report.url
          %td= report.response_status_code
          %td.date= report.created_at
          %td= report.status
          - if report.validated?
            %td= link_to 'Detail', project_report_path(project, report)

  = paginate @reports

- else
  %p= t('.no_reports')

:javascript
  $('td.date').each(function() {
    $(this).text(new Date($(this).text()).toLocaleString());
  })
