= content_for :title, "Report #{@report.id}"

.flexspace-and-center
  %h1 Report
  = bootstrap_form_for(@report, url: revalidate_project_report_path(project, @report), method: :post) do |f|
    .flexcontainer-justify-end= f.submit 'Revalidate', class: 'btn btn-primary'


- if report.route.blank?
  You forgot to register this route :O
- else
  = render partial: 'routes/route_summary', locals: { route: report.route.decorate, real_url: report.url, should_display_representations: true }

- if report.body_errors.any? || report.header_errors.any? || report.status_error
  %h4 Errors

  %ul
    - unless report.valid_status?
      %li.error= report.status_error.description
    - report.header_errors.each do |e|
      %li.error= e.description
  = render partial: 'shared/schema_errors', locals: { body_errors: report.body_errors }

%h4 Request

.request-method
  %span{ class: label_class_for_http_method(report.request_method) }= report.request_method

/ Response Nav tabs
%ul.nav.nav-tabs{ role: "tablist" }
  %li.active{ role: "presentation" }
    %a{ "aria-controls" => "request body", "data-toggle" => "tab", href: "#req-body",
      role: "tab" }
      = "Body"
  %li{ role: "presentation" }
    %a{ "aria-controls" => "request headers", "data-toggle" => "tab", href: "#req-headers",
      role: "tab" }
      = "Headers"

/ Response Tab panes
.tab-content
  .tab-pane.active{ role: "tabpanel", id: "req-body" }
    .panel.panel-default
      .panel-body
        %pre.pre-scrollable
          %code
            =format_json(report.request_body)
  .tab-pane{ role: "tabpanel", id: "req-headers" }
    .panel.panel-default
      .panel-body
        %table{class: "table table-striped"}
          %tbody
          - report.request_headers.each_pair do |key, value|
            %tr
              %td= key
              %td= value

%h4 Response

- if report.response.blank?
  We could not find any response for this route :O

.status-code
  %span.label.http-method-label{'class': report.valid_status? ? 'label-success' : 'label-danger'}= report.response_status_code

%div
  / Response Nav tabs
  %ul.nav.nav-tabs{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ "aria-controls" => "response body", "data-toggle" => "tab", href: "#resp-body",
        role: "tab" }
        = "Body"
    %li{ role: "presentation" }
      %a{ "aria-controls" => "response headers", "data-toggle" => "tab", href: "#resp-headers",
        role: "tab" }
        = "Headers"

  / Response Tab panes
  .tab-content
    .tab-pane.active{ role: "tabpanel", id: "resp-body" }
      .panel.panel-default
        .panel-body
          %pre.pre-scrollable
            %code
              =format_json(report.response_body)
    .tab-pane{ role: "tabpanel", id: "resp-headers" }
      .panel.panel-default
        .panel-body
          %table{class: "table table-striped"}
            %tbody
            - report.response_headers.each_pair do |key, value|
              %tr
                %td= key
                %td= value
