!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pericles
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    .container#main-container
      .row
        .col-xs-12
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
      .row
        .col-xs-12
          = yield :page_title
      = yield
    = yield :page_scripts
