!!!
%html
  %head
    = render partial: 'shared/head'
  %body
    #wrapper
      = render 'shared/sidebar'
      #page-content-wrapper
        = render 'shared/alert'
        = yield

    = yield :page_scripts
