!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pericles
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    #wrapper
      = render 'shared/sidebar'
      #page-content-wrapper
        .container-fluid
          = content_for?(:full_width_column_content) ? yield(:full_width_column_content) : yield
    = yield :page_scripts
